# ML CYCLE
7 steps of Machine Learning: 
1. Data Collection
2. Data Preparation
3. Choosing a Model
4. Training the Model
5. Evaluate the Model
6. Parameter Tuning
7. Predict
<br>pandas cheatsheet: https://elitedatascience.com/python-cheat-sheet

### 1 - Import data

In [2]:
import pandas as pd
data_frame = pd.read_csv('fifa19.csv')
data_frame.shape # display format of data_frame

(18207, 89)

In [3]:
data_frame.describe # display stats about numerical columns

<bound method NDFrame.describe of        Unnamed: 0      ID  ... GKReflexes  Release Clause
0               0  158023  ...        8.0         €226.5M
1               1   20801  ...       11.0         €127.1M
2               2  190871  ...       11.0         €228.1M
3               3  193080  ...       94.0         €138.6M
4               4  192985  ...       13.0         €196.4M
...           ...     ...  ...        ...             ...
18202       18202  238813  ...        9.0           €143K
18203       18203  243165  ...       12.0           €113K
18204       18204  241638  ...       13.0           €165K
18205       18205  246268  ...        9.0           €143K
18206       18206  246269  ...        9.0           €165K

[18207 rows x 89 columns]>

### 2 - Clean data

### 3 - Split data into Training and Test sets

### 4 - Create model

### 5 - Check output

### 6 - Improve